@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

@theme inline {
    --font-passion-one: var(--font-passion-one);
    --font-inter: var(--font-inter);
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    --color-base-100: #f0f9ff;
    --color-base-200: #e0f2fe;
    --color-base-300: #bae6fd;
    --color-base-content: #020617;
    --color-primary: #0284c7;
    --color-primary-content: #f6f6ff;
    --color-secondary: #1f2937;
    --color-secondary-content: #f6f6ff;
}

body {
    font-family: var(--font-inter);
}

.tooltip::before {
    font-family: var(--font-inter);
    font-weight: 400;
}
