@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1), rgba(245,245,255,1));
  min-height: 100vh; 
}
*{
  padding: 0%;
  margin: 0%;
}
